# ======================
# Python
# ======================

__pycache__/
*.py[cod]

# ======================
# Virtual environments
# ======================

venv/
.venv/
env/

# ======================
# IDE
# ======================

.vscode/
.idea/

# ======================
# OS
# ======================

.DS_Store
Thumbs.db

# ======================
# Datasets
# ======================

data/unsplash-lite/
data/images/

# ======================
# Generated metadata
# ======================

data/*.sqlite
data/*.db
data/**/*.sqlite

data/metadata.csv
data/**/*.csv

# ======================
# Embeddings
# ======================

data/embeddings/*.npy
data/embeddings/*.npz

# ======================
# Model weights / exports
# ======================

*.pt
*.pth
*.onnx
*.engine
runs/

# ======================
# FAISS indexes
# ======================

data/indexes/*.index
data/qdrant/

# ======================
# Experiments
# ======================

experiments/runs/
experiments/*/visualizations/

experiments/final_report/selected_visualizations/
experiments/final_report/results.pdf

# ======================
# Temporary files
# ======================

*.log

/docss

